/* A stab at a mobile/responsive css
/* inspired by Chris Coyier's flexslider, the text is positioned over the image
/* becaues images resize better than background-images
/* The width:100% + percentage selectors do most of the resizing, plus a few media queries
/* for style. NB, to be fully responsive the slides must be wrapped in a responsive container
/* and the meta viewport must be set in the doc head.
*/

.cyoa_container {
    clear: both;
    width: 100%;
    /* set max-width here to contain slides. Mojo width is 632px */
    max-width: 632px;
    /*to center slideshow, if you like*/ 
    margin: 0 auto;
    /*max-height + overflow makes keeps size continuity - n/m if you have all the same size
    images*/
    margin: 1.25em auto;
    padding: 1.25em 0;
}

.cyoa_content {
    text-align: center;
    position: relative;
}
.cyoa_content img {
    width: 100%; 
}

.cyoa_page p {
    position: absolute;
    width: 96%;
    padding: 2%;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    font-family: verdana;
    background: rgba(255,255,255,0.5);
}

.cyoa_page {
    width: 100%;
    max-width: 632px; 
}

.cyoa_controls {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    cursor : pointer;
    clear: both;
    display: table;
}

ul.cyoa_controls.centered {
    margin: 0 auto;
    content: "";
    display: table;
    clear: both;
}

.cyoa_controls.split {
    margin: 0;
    display: inline;
}

.cyoa_controls.right {
    float: right;
}

.cyoa_controls.left {
    float: left;
}

.cyoa_controls.split li.generic {
    float: right !important;
}

.cyoa_controls li {
    float: left;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    background: #000;
    color: white;
    border-left: 1px solid #666;
}

.cyoa_controls li span{
    text-align: center;
}
.disabled {
    color: grey;
}

.cyoa_hide {
    display: none;
}
.cyoa_show {
    display: block;
}

@media only screen and (max-width: 520px) {
    .cyoa_controls {
        width: 100%;
    }

    .cyoa_controls li {
        width: 100%;
        float: none !important;
        border-top: 1px solid #666 !important;
        border-left: 0;
        padding: 10px 0;

    }

}

    </style>
