#cyoa_container {
    font-family:georgia;
    background:black;
    padding-top: 30px;
    width: 100%;
    min-height:375px;
    width: 632px;
    background-image:url('http://assets.motherjones.com/interactives/projects/2012/10/can-i-vote/banner1.gif');
    background-repeat:no-repeat;
    max-height: 520px;
    overflow: hidden;
    }

    .cyoa_content div {
        height: 478px;
        background-repeat:no-repeat;
        background-position: center top;
        background-size: cover;
}
#cyoa_container .cyoa_content  {margin-top: 0px;}

#cyoa_container .cyoa_content p {
    width: 625px;
    margin: 0px;
    font-size:1.8em;
    background: rgba(255,255,255,.6);
    padding: 10px 5px;
}

#cyoa_container ul {

    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding-left: 0px;
    margin: 0 auto;
}

#cyoa_container li, #cyoa_container button {
    margin: 0 auto;
    background-color: black;
    border-right:1px solid #666;
    border-left:0px solid #666;
    border-top:0px solid #666;
    border-bottom:0px solid #666;
    display:inline-block;
    font-size:1.1em;
    font-family:Verdana;
    font-weight:bold;
    text-decoration:none;
    float:left;
    padding: 10px 15px;
    color: white;
    }

    #cyoa_container li {
    }

    #cyoa_container button {
        font-size: .8em;
        padding: 12px 15px;
    }

    #cyoa_container button:hover, #cyoa_container li:hover {
        background:red;
    }

    #cyoa_container button:active, #cyoa_container li:hover {

    }

    .cyoa_page {
        position: relative;
        float: left;
        overflow:hidden;
    }

    .cyoa_hide {
        width: 0%;
        transition: width 2s ease-in-out;
        -moz-transition: width 2s ease-in-out;
        -webkit-transition: width 2s ease-in-out;
        -o-transition: width 2s ease-in-out;
        -ms-transition: width 2s ease-in-out;
    }
    .cyoa_show p, .cyoa_show li, .cyoa_show button, .cyoa_show h1 {
        opacity: 1;
        transition: opacity 2s ease-out;
        -moz-transition: opacity 2s ease-out;
        -webkit-transition: opacity 2s ease-out;
        -o-transition: opacity 2s ease-out;
        -ms-transition: opacity 2s ease-out;
    }
    .cyoa_hide p, .cyoa_hide li, .cyoa_hide button, .cyoa_show h1 {
        opacity: 0;
        transition: opacity 1s;
        -moz-transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        -ms-transition: opacity 1s;
    }

    .cyoa_show {
        width: 632px;
        -moz-transition: width 2s ease-in-out;
        -webkit-transition: width 2s ease-in-out;
        -o-transition: width 2s ease-in-out;
        -ms-transition: width 2s ease-in-out;
    }

    .cyoa_controls, .control_container {
        display:inline-block;
    }

    #cyoa_container p.source, #cyoa_container p.source a {
        margin-top: 0!important;
        padding-top: 0;
        text-align: left;
        font-size: x-small;
        color: #666;
    }

